.responsive{
    background-image: url("../assests/bg.jpg");
    background-repeat: no-repeat;
    position:relative;
    width: 100%;
    height: 100%;
}
.image-center{
    position: relative;
    text-align: center;
    vertical-align: baseline;
    width: 100%;
}
@media screen and (max-width: 720px) {
    .q-answer{
        font-size: 5vw;
        font-weight: normal;
        padding: 0px;
    }
    .q-title{
        font-size: 6vw;
        font-weight: bolder;
        padding: 0px 0px 0px 20px;
    }
    .q-block{
        padding: 0px;
    }
    .image-title{
        font-size: 5vw;
    }
    .five-g-text{
        font-size: 8vw;
        font-weight: bolder;
        color: red;
    }
    .image-body{
        font-size: 4vw;
    }
}
@media screen  and (min-width: 720px)  {
        
    .q-block{
        padding: 20px;
    }
    .q-title{
        font-size: 3vw;
        font-weight: bolder;
    }
    .q-answer{
        font-size: 2vw;
        font-family: sans-serif;
        text-align: justify;
    }
        
    .image-title{
        font-size: 3vw;
        font-weight: bold;
    }
    .five-g-text{
        font-size: 10vw;
        font-weight: bold;
        color: red;
    }
    .image-body{
        font-size: 2vw;
    }
}